<div>
  <h2>Courses</h2>
  <ul>
    <li>
      <h3>Full Stack Developer</h3>
      <a
        href="https://drive.google.com/file/d/17jLBkPWQyLtsh3HpPeWFtWMg5eNfXo18/view"
        target="_blank"
        >Certificate</a
      >
      <p>IT School GoIT</p>
      <i>06/2023-12/2024</i>
    </li>
    <li>
      <h3>Information security basics</h3>
      <a
        href="https://drive.google.com/file/d/1ZAl2cmCeScRtbckHPeKFKee8Bt3wouBu/view"
        target="_blank"
        >Certificate</a
      >
      <p>Kyiv Polytechnic Institute</p>
      <i>04/2020</i>
    </li>
  </ul>
</div>
