<div class="experience">
  <h2 class="degree">Experience</h2>
  <ul>
    <li>
      <h3>Maintenance Technician</h3>
      <h5>
        Lear Corporation Czech republic sro.
        <span>Automotive industry, Seat production</span>
      </h5>
      <i>03/2021 - Present</i>
      <p>Pilsen region, Czech republic</p>

      <p>
        I have improved planning skill, learned Czech with a professional focus.
        Maintained production lines and production equipment ensuring optimal
        performance. Constructed and maintained workstations as a Maintenance
        Technician.
      </p>
    </li>
    <li>
      <h3>Electrician</h3>
      <h5>
        South Ukrainian Nuclear Power Plant <span>Energy Generation</span>
      </h5>
      <i>12/2017 - 02/2021</i>
      <p>Mykolaiv region, Ukraine</p>

      <p>
        Developed strong teamwork skills as an Electrician. Conducted
        performance checks and measured I/O metrics. Performed regular equipment
        maintenance tasks.
      </p>
    </li>
  </ul>
</div>
