<div class="project">
  <h2>Projects</h2>
  <ol>
    <li>
      <h3 class="projects-item-title">Phonebook</h3>
      <p class="project-item-text">
        Basic phonebook app that interacts with the backend. Consolidation of
        acquired knowledge from React, Redux, JS, CSS modules
      </p>
      <ul class="project-item-list">
        <li>
          <a
            href="https://github.com/ihor-mikheyev/goit-react-hw-07"
            target="_blank"
            >Git</a
          >
        </li>
        <li>
          <a
            href="https://goit-react-hw-07-five-tau.vercel.app/"
            target="_blank"
            >Live</a
          >
        </li>
      </ul>
    </li>
    <li>
      <h3 class="projects-item-title">Portfolio</h3>
      <p>
        This project was developed by team number 10 as part of the FullStack
        Developer course from GoIT Consolidation of acquired knowledge from
        HTML, CSS, JS.
      </p>
      <ul class="project-item-list">
        <li>
          <a href="https://github.com/tanyf5/portfolio-team-10" target="_blank"
            >Git</a
          >
        </li>
        <li>
          <a href="https://tanyf5.github.io/portfolio-team-10/" target="_blank"
            >Live</a
          >
        </li>
      </ul>
    </li>
    <li>
      <h3 class="projects-item-title">Webstudio</h3>
      <p>
        Adaptive design landing webpage with breakpoints. Consolidation of
        acquired knowledge from HTML, CSS.
      </p>
      <ul class="project-item-list">
        <li>
          <a
            href="https://github.com/ihor-mikheyev/goit-react-hw-07"
            target="_blank"
            >Git</a
          >
        </li>
        <li>
          <a
            href="https://ihor-mikheyev.github.io/goit-markup-hw-06/"
            target="_blank"
            >Live</a
          >
        </li>
      </ul>
    </li>
  </ol>
</div>
